<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiwl.dao.UserMapper">
  <select id="getUserFromUserName" parameterType="String" resultMap="User">
    select * from USER_INFO where USER_NAME = #{userName}
  </select>

  <select id="getUserInfo" parameterType="String" resultMap="JalanUser">
    select * from J_USR where USR_ID = #{userId}
  </select>

</mapper>